<table>
    <tr>
        <td>
            <p>Marco Antonio Corona</p>
            <p>Ser SNI 3, y tener cuadritos</p>

        </td>
        <td>
            <img src="https://firebasestorage.googleapis.com/v0/b/mycv-marco.appspot.com/o/Cristiano%20Ronaldo%20Portugal.jpg?alt=media&token=8f20edaa-e16f-4edc-b254-963b7c2ec283" width="100" height="100">
        </td>
        <td>
            <ul>
                <li>marco.corona547@gmail.com</li>
                <li>2722107060</li>
                <li>La perla, Veracruz</li>
                <li>@Marcot132</li>
            </ul>
        </td>
    </tr>
</table>
